:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --title-text-color: rgba(255, 0, 112, 1);
  --header__title-color: rgba(219, 0, 255, 1);

  .dark-decoration {
    display: inline-block;
    position: absolute;
    top: calc(var(--paddings));
    right: calc(var(--paddings) + 28px);
    color: var(--title-text-color);
    font-family: "IBM Plex Mono";
    font-size: var(--text-size);
    line-height: 25px;
  }

  .dark-decoration::after {
    content: "";
    display: inline-flex;
    align-self: center;
    margin-left: 10px;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%; 
    background-color: rgba(255, 0, 112, 1);
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1); 
  }

  
}
@media (prefers-color-scheme: dark) {

  :root {
    --background-image: url("../images/cover-image-dark.png");
  }


}

