:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: rgb(0, 0, 40);
  --accent-color: rgb(255, 0, 112);
  --text-color: rgb(241, 178, 206);
  --title-text-color: rgb(255, 0, 112);
  --header-title-color: rgb(219, 0, 255);
  --button-hover-color: rgba(255, 0, 112, 0.4);

  .dark-decoration {
    display: inline-block;
  }

  .dark-decoration::after {
    display: inline-flex;
  }
  
  .header > p, h3 {
    color: var(--background-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --background-color: rgb(0, 0, 40);
    --accent-color: rgb(255, 0, 112);
    --text-color: rgb(241, 178, 206);
    --title-text-color: rgb(255, 0, 112);
    --header-title-color: rgb(219, 0, 255);
    --button-hover-color: rgba(255, 0, 112, 0.4);

    .dark-decoration {
      display: inline-block;
    }

    .dark-decoration::after {
      display: inline-flex;
    }
    
    .header > p, h3 {
      color: var(--background-color);
    }
  }
}