/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
}

.theme-dark h1::after { /*for REC*/
  display: block;
}
@media (prefers-color-scheme: dark) {

  :root {
    --background-image: url("../images/cover-image-dark.png");
  }
  h1::after { /*for REC*/
    display: block; 
  }

}

