:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --background-color: #fee6ff;
  --header__title-color: rgb(255, 194, 230);
  --text-color: rgb(53, 52, 48);
  --title-text-color: rgb(53, 52, 48);

  .dark-decoration {
    display: none;
  }

  .dark-decoration::after {
    display: none;
  }
}

