.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  height: 100%;
  min-height: var(--page-min-height);
}

.dark-decoration, .dark-decoration::after {
  display: none;
}

.title-decor {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--text-size);
  color: var(--title-text-color);
  background-color: var(--accent-color);
  line-height: 23.4px;
  height: fit-content;
}

.header {
  display: grid;
  grid-template-rows: auto auto 1fr;
  position: relative;
  min-height: var(--page-min-height);
  padding: var(--paddings);
}

.header::before, .footer::before {
  content: "";
  position: absolute;
  top: var(--paddings);
  right: var(--paddings);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.header::after, .footer::after {
  content: "";
  position: absolute;
  top: calc(var(--page-min-height) - var(--paddings) - 25px); 
  left: var(--paddings);  
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.header__theme-menu {
  height: max-content;
}

.header__theme-menu-list {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  margin: var(--header__theme-margins);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--text-size);
  color: var(--text-color);
}

.header__theme-menu-button {
  border: none;
  color: rgb(53, 52, 48);
  inline-size: 70px;    /*  можем задать строго,  */
  block-size: 26px;     /*  т.к. таковы размеры во всех размерах сайта  */
}


.header__theme-menu-button_active {
  border: 1px solid #000;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4); 
}

.h1__title {
  justify-self: start;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--header__title-size);
  font-weight: 700;
  line-height: 83%;
  color: var(--header__title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  font-weight: 700;
  height: fit-content;
  line-height: 23.4px;
}

.main__text-section {
  display: grid;
  gap: 20px;
  padding: var(--paddings);
  margin-top: calc(3 * var(--paddings));
}

.main__header {
  background-color: transparent;
}

.main__text {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: var(--text-size);
  color: var(--text-color);
  line-height: 23.4px;
  margin-top: 10px; /*константа на всех разрешениях*/
}

.main__paragraph:not(:last-child) {
  margin-bottom: 20px;
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text__link:hover {
  text-decoration: underline var(--text-color);
}

.text__link:focus-visible {
  border: 1px solid var(--text-color);
  border-radius: 0px;
}

.tips-title {
  font-weight: 400;
}

.gallery {
  gap: var(--paddings);
}

.gallery__image {
  width: 100%;
}

.footer {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 668px;
  margin-top: calc(3 * var(--paddings));
}

.footer__title {
  margin: auto;
  text-shadow: 2px 2px 0 var(--accent-color);
}