.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  min-height: var(--page-min-height);
}

.dark-decoration {
  display: none;
  position: absolute;
  top: calc(var(--paddings));
  right: calc(var(--paddings) + 28px);
  color: var(--title-text-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--text-size);
  line-height: 25px;
}

.dark-decoration::after {
  content: "";
  display: none;
  align-self: center;
  margin-left: 10px;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%; 
  background-color: rgba(255, 0, 112, 1);
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1); 
}

.title-decor {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--text-size);
  color: var(--text-color);
  background-color: var(--accent-color);
  line-height: var(--line-height);
  height: fit-content;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  min-height: var(--header-footer-height);
  padding: var(--paddings);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--paddings);
  right: var(--paddings);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-text-color);
  border-right: 1px solid var(--title-text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: calc(var(--header-footer-height) - var(--paddings) - 25px); 
  left: var(--paddings);  
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--title-text-color);
  border-left: 1px solid var(--title-text-color);
}

.header-theme-menu {
  block-size: max-content;
  justify-self: var(--header-theme-menu-justify-self);
  align-self: var(--header-theme-menu-align-self);
}

.header-theme-menu-list {
  display: flex;
  flex-direction: var(--header-theme-menu-list-direction);
  gap: 10px;
  height: fit-content;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--text-size);
  color: var(--text-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--title-text-color);
  inline-size: 70px;    /*  можем задать строго,  */
  block-size: 26px;     /*  т.к. таковы размеры во всех размерах сайта  */
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-text-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color); 
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none; 
  border-bottom: 1px solid var(--title-text-color);
}

.focus-title {
  justify-self: start;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--header-title-size);
  font-weight: 700;
  line-height: 83%;
  margin-left: var(--focus-title-margin-left);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text {
  justify-self: end;
  align-self: center;
  height: fit-content;
  font-weight: 700;
  line-height: var(--line-height);
  max-inline-size: var(--header-text-max-inline-size);
}

.main-text-section {
  display: grid;
  gap: 20px;
  padding: var(--paddings);
  margin-top: var(--main-text-section-margin-top);
}

.main-text-section-concentration {
  grid-template-columns: var(--concentration-grid-template-columns);
  margin-top: var(--concentration-margin-top);
}

.main-header {
  background-color: transparent;
  color: var(--title-text-color);;
  min-inline-size: var(--main-header-min-inline-size);
}

.main-text-section-why > .main-header {
  max-inline-size: var(--why-max-inline-size);
}

.main-text-section-how {
  grid-template-columns: var(--how-grid-template-columns);
}

.main-text-section-how > .main-header {
  max-inline-size: var(--how-main-header-max-inline-size);
  grid-row: var(--how-main-header-grid-row);
}

.main-text-section-how > ul {
  grid-column: var(--how-ul-grid-column);
}

.main-text-section > .main-text-section-why-ul {
  display: var(--main-text-section-why-ul);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main-text {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: var(--text-size);
  color: var(--text-color);
  line-height: var(--line-height);
  margin-top: 10px; /*константа на всех разрешениях*/
}

.list-of-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none ;
}

.text-link:focus-visible {
  border: 1px solid var(--text-color);
}

.tips-title {
  font-weight: 400;
}

.gallery {
  display: var(--gallery-display);
  gap: var(--paddings);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1.2fr 1.65fr;
}

.gallery-image {
  width: 100%;
  block-size: var(--gallery-image-block-size);
  object-fit: var(--gallery-image-object-fit);
}

.gallery-image:first-child {
  grid-column: span 2;
  
}
.gallery-image:nth-child(2) {
  grid-row: span 2;
}

.gallery-image:nth-child(3) {
  grid-row: span 2;
}

.gallery-image:nth-child(5) {
  grid-column: span 2;
}

.footer {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: var(--header-footer-height);
  margin-top: var(--main-text-section-margin-top);
}

.footer-title {
  margin: auto;
  text-shadow: 2px 2px 0 var(--accent-color);
}