/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  height: 100%;
  min-height: 668px;
}

.header {
  display: grid;
  position: relative;
}

.header::before, .footer::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid rgb(53, 52, 48);
  border-right: 1px solid rgb(53, 52, 48);
}

.header::after, .footer::after {
  content: "";
  position: absolute;
  top: 633px;
  left: 10px;  
  width: 25px;
  height: 25px;
  border-bottom: 1px solid rgb(53, 52, 48);
  border-left: 1px solid rgb(53, 52, 48);
}

.header__theme-menu {
  justify-self: end;
  margin-top: 50px;
}

.header__title {
  justify-self: start;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--header__title-size);
  font-weight: 700;
  color: var(--header__title-color);

}

.header__text {
  justify-self: end;
  background-color: var(--header__text-background);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--header__text-size);
  font-weight: 700;
  color: var(--header__text-color);
}