/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fee6ff;
  --header__title-color: rgb(255, 194, 230);
  --header__text-color: rgb(53, 52, 48);
  --header__text-background: rgb(255, 141, 203);
  --header__title-size: 116px;
  --header__text-size: 18px;
}