:root {
  --page-min-height: 668px;
  --header-footer-height: max(100vh, var(--page-min-height));
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --background-color: #fee6ff;
  --header-title-color: rgb(255, 194, 230);
  --text-color: rgb(53, 52, 48);
  --title-text-color: rgb(53, 52, 48);
  --button-hover-color: rgba(53, 52, 48, 0.4);
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size: 18px;
  --paddings: 10px;
  --line-height: 23.4px;
  --concentration-margin-top: 30px;
  --main-text-section-margin-top: calc(3 * var(--paddings));
  --header-theme-menu-justify-self: end;
  --header-theme-menu-align-self: center;
  --header-theme-menu-list-direction: column;
  --main-text-section-why-ul: flex;
  --gallery-display: inline-block;
}

@media (width >= 768px) {
  :root {
    --paddings: 20px;
    --focus-title-margin-left: -20px;
    --header-text-max-inline-size: 364px;
    --main-header-min-inline-size: 236px;
    --main-text-section-margin-top: calc(2 * var(--paddings));
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --concentration-grid-template-columns: 1fr 2fr;
    --concentration-margin-top: 40px;
    --why-max-inline-size: 236px;
    --how-grid-template-columns: 1fr 2fr;
    --how-main-header-max-inline-size: 236px;
    --how-main-header-grid-row: 1/3;
    --how-ul-grid-column: 2;
    --gallery-image-block-size: 100%;
    --gallery-image-object-fit: cover;
    --gallery-display: grid;
  }
}

@media (width >= 1024px) {
  :root {
    --header-text-max-inline-size: 491px;
    --main-header-min-inline-size: 315px;
    --concentration-grid-template-columns: min-content 1fr;
    --header-theme-menu-justify-self: center;
    --header-theme-menu-align-self: start;
    --header-theme-menu-list-direction: row;
    --how-grid-template-columns: min-content 1fr;
    --main-text-section-why-ul: grid;
  }
}