:root {
  --page-min-height: 100vh;
  --accent-color: #ff8dcb;
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fee6ff;
  --header__title-color: rgb(255, 194, 230);
  --text-color: rgb(53, 52, 48);
  --header__text-background: rgb(255, 141, 203);
  --header__title-size: 116px;
  --text-size: 18px;
  --paddings: 10px;
  --header__theme-margins: 65px 0px; 
}

@media (768px <= width <= 1024px) {
  :root {
    --paddings: 20px;
    --header__theme-margins: 172px 0px; 
    --header__title-size: 120px;

  }

  .h1__title {
    margin-left: -20px;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .main__text-section {
    grid-template-columns: min-content 1fr;
  }
}

@media (width >= 1024px) {
  /*:root {
    --paddings: 20px;
    --header__theme-margins: 182px 0px; 
  }*/

  .h1__title {
    margin-left: -20px;
  }

  .header__text {
    max-inline-size: 491px;
  }
}